@charset "UTF-8";

body {
            font-family: 'Raleway', sans-serif;

            margin:0;
            padding:0;
            width:100%;
        
        }

/* psuedo class properties */

a:visited {
                color: blue;  /* keeps all links blue, even after clicking */
            }        


/* home page */

.hello {
    
    text-align: center;
    padding-top: 170px;
    padding-bottom: 170px;
    padding-left:50px;
    padding-right:50px;
}


/* projects page */

.header {
    
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.shortcuts{

    text-align: left;
    padding-top: 50px;
    padding-left: 25px; 

}

.projects {

    padding: 25px;
    padding-bottom: 100px;
    text-align: center;

}


.projects h3 {
    padding-top: 40px; /* used to center the text of the project names. apparently not the strongest use of css, recommended to use a diferent way to specify. */
    padding-bottom: 40px;
}

.projects img {
    display:block;
    margin: 0 auto;
}

.large-pic {   /* instead of marking each picture with a class of either large or small, i could set properties to div containers, all ios pics should be the same, and most screen shots should be of similar size, too */
    width:70%;
}

.ios-pic {
    width:40%;
}



/* project summary pages */

.project-summary {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

#check-it-out {
    padding-top: 50px;
}

.project-summary h1 {
    padding-bottom: 50px;
}


/* footer */

.footer {
    
    background-color: #000000;
    color:#FFFFFF;
    height: 250px;

}

.footer a:link {
    color:white;
}

.footer a:visited {
    color:white;
}


.nav-text {

    font-size: 20px;
    text-align: center;
    padding: 75px;
    line-height: 200%;
    
}  

.nav-text li {
    display: inline;  /* displays list in horizontal row, instead of vertical column. also removed bullet points. notice: had to use selector case to select each individual element of the list, instead of the list itself. eg .something_li; */
    padding: 25px;
} 
